@tailwind base;

html {
    font-family: 'Nunito', sans-serif;
}

p {
    @apply p-1
}

textarea {
    @apply bg-gray-300 bg-opacity-0 border-blue-600 rounded-lg resize-none p-2 outline-none transition-all duration-700 border-2;
}

textarea:focus {
    transform: scale(1.01);
    @apply border-green-600 bg-teal-100;
}

@screen dark {
    textarea:focus {
        transform: scale(1.01);
        @apply border-green-600 bg-teal-1000;
    }
}

button {
    @apply border-blue-500 border-2 bg-white transition-all duration-500 outline-none text-blue-500 rounded p-1 px-4 m-2 bg-opacity-0;
}

button:disabled {
    @apply border-gray-400 text-gray-500;
}

button:focus {
    transform: scale(1.02);
    @apply bg-blue-500 text-white outline-none;
}

button:active {
    transform: scale(1.02);
    @apply bg-blue-500 text-white outline-none;
}

@tailwind components;

.modal {
    width: 50%;
    height: 50%;
    top: 25%;
    right: 25%;
    @apply text-center p-4 fixed box-border bottom-0 shadow rounded bg-blue-100 transition-opacity duration-500;
}

@media (max-width: 640px)  {
    .modal {
        width: 74%;
        height: 50%;
        top: 25%;
        right: 13%;
    }
}

.popupGUI {
    height: 91vh;
    width: 94vw;
    margin-left: 3vw;
    transform: translateY(91vh);
    @apply fixed box-border bottom-0 p-2 pt-4 shadow rounded-t bg-blue-100 transition-all duration-500;
}

.pencil {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.text_input {
    @apply outline-none border-0 border-b-2 border-blue-500 px-2 m-2 transition-all duration-500 bg-white bg-opacity-0;
}

.text_input:focus {
    transform: scale(1.02);
    @apply border-green-500 ;
}

@screen dark {
    .popupGUI {
        @apply bg-blue-1000
    }
    .modal {
        @apply bg-black
    }
}

@tailwind utilities;

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.focus-scale {
    transform: scale(1) rotate(45deg);
}
.focus-scale:focus {
    transform: scale(0.9) rotate(45deg);
}

.px-65 {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
}

@screen dark {
    .bg-green-1000 {
        background-color: #243829;
    }
}

.bg-teal-1000 {
    background-color: #1a2f30;
}

.bg-blue-1000 {
    background-color: rgb(13, 13, 27);
}